<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="banyan.com.rafoods">

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisson.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="banyan.com.rafoods.appcontroller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity
            android:name="banyan.com.rafoods.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="banyan.com.rafoods.activity.Activity_Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name="banyan.com.rafoods.activity.Activity_Add_Enquiry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>


        <activity
            android:name="banyan.com.rafoods.activity.Activity_Edit_Enquiry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Shop_Description"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Order_Form"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Shop_Edit"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Target_View"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_MyOrder_Desc"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Edit_Order_Form"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Primary_Order_Form"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Shop_Info"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Order_Edit_Form"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".activity.Activity_Add_Distributor"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>


        <!--To know when  internet connect is available-->

        <receiver android:name=".utils.BroadCastReceiver_Network_Connection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
                <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                 <action android:name="android.net.wifi.STATE_CHANGE" />-->
            </intent-filter>
        </receiver>

        <!--to upload local order form data to server-->
        <service
            android:name=".service.Service_Order_Form"
            android:exported="false" />


        <!--to upload local add enquiry data to server-->
        <service
            android:name=".service.Service_Add_Enquiry"
            android:exported="false" />

        <!--to upload local add enquiry data to server-->
        <service
            android:name=".service.Service_Sr_Order_Form"
            android:exported="false" />

    </application>

</manifest>